
   <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a routerLink="/dashboard" routerLinkActive="active" class="nav-link" >
          <i-feather name="home"></i-feather>
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/demonstration" routerLinkActive="active" class="nav-link">
           <i-feather name="star"></i-feather>
          Demonstration
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/help" routerLinkActive="active" class="nav-link">
           <i-feather name="info"></i-feather>
          Help
        </a>
      </li>
    </ul>
  </div>

