 <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <ul class="nav navbar-nav px-3 navbar-expand">
         <li *ngIf="authenticationService.userProfile$ | async as profile" class="nav-item text-nowrap mr-3">
           
            <a routerLink="/userprofile" class="nav-link" > <span><img class="mr-2" width="32" [src]="profile.picture"/></span><span>{{ profile.name}}</span></a>
         
        </li>
        <li class="nav-item text-nowrap">
         
          <a class="nav-link" href="#" (click)="authenticationService.login()" *ngIf="!authenticationService.loggedIn"><span>Sign In</span></a>
          <a class="nav-link" href="#" (click)="authenticationService.logout()" *ngIf="authenticationService.loggedIn"><span>Sign Out</span></a>
        </li>
       
      </ul>
  </nav>